<div id="CreateContainer"></div>
<html>
<head>
</head>
<body>
    <a href="/Home/Create" type="button" class="btn btn-primary">Add Forms</a>
    
    <br></br>
    <table id="Forms_Table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Subject</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</body>
</html>
